language: csharp
services:
  - docker
mono: none
dist: xenial
dotnet: 2.2
install:
  - sudo apt -qq -y install zip
  - dotnet tool install --global Amazon.Lambda.Tools --version 3.0.1
  - pip install --user awscli
  - npm install -g serverless
before_script:
  - export PATH="$PATH:$HOME/.dotnet/tools"
script:
  - docker run -d -p 127.0.0.1:8000:8000 amazon/dynamodb-local -jar DynamoDBLocal.jar -sharedDb -inMemory
  - ./build_dynamo.sh
  - ./build.sh
  - sls deploy -v
cache:
  directories:
    - '$HOME/.nuget/packages'
    - '$HOME/.local/share/NuGet/Cache'