service: stubias-speedTest-api

provider:
  name: aws
  stage: ${opt:stage, 'staging'}
  runtime: dotnetcore2.1
  region: ap-southeast-2
  iamRoleStatements:
    -
      Effect: Allow
      Action:
      - dynamodb:Query
      - dynamodb:Scan
      - dynamodb:GetItem
      - dynamodb:PutItem
      - dynamodb:DescribeTable
      - dynamodb:UpdateItem
      - dynamodb:DeleteItem
      - dynamodb:BatchGetItem
      - dynamodb:BatchWriteItem
      Resource: "*"
resources:
  Resources:
    ApplicationTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: "Id"
            AttributeType: "S"
          -
            AttributeName: "SortKey"
            AttributeType: "S"
        KeySchema:
          -
            AttributeName: "Id"
            KeyType: "HASH"
          -
            AttributeName: "SortKey"
            KeyType: "RANGE"
        ProvisionedThroughput:
          ReadCapacityUnits: 2
          WriteCapacityUnits: 2
        TableName: ApplicationTable
package:
  artifact: src/Stubias.SpeedTest.Api/bin/local/release/netcoreapp2.1/deploy-package.zip

functions:
  api:
    handler: Stubias.SpeedTest.Api::Stubias.SpeedTest.Api.LambdaEntryPoint::FunctionHandlerAsync
    events:
     - http:
         path: /{proxy+}
         method: ANY
    environment:
      Swagger__DefinitionPath: /${opt:stage, 'staging'}/swagger/v1/swagger.json
      ASPNETCORE_ENVIRONMENT: Staging
